-inherit file="CircleApp:templates/_base.html"

-def page_title()
  ${title or ''}


<%self.widgets:panel>
  .row
    .col-md-12
      ${errors or ''}
  .row
    .col-md-12.col-xs-12
      h2.red.title
        span ${'Form Pengguna'}

      ${baka.ui.tags.form(
        action or request.url,
        class_="_ajax %s" % ('readonly' if readonly else ''),
        autocomplete="off")}
        <!--/ hidden_fields=[('csrf_token', request.session.get_csrf_token())])}-->

      <%self.widgets:textfield required='True' required='True' name="username" label="${u'Nama Pengguna'}" placeholder="${u'Nama Pengguna'}" />
      <%self.widgets:textfield required='True' required='True' name="email" label="${u'Email Pengguna'}" placeholder="${u'Email Pengguna'}" />
      <%self.widgets:textfield type="password" required='True' name="password" label="${u'Kata Kunci'}" placeholder="${u'Kata Kunci'}" />
      <%self.widgets:textfield type="password" required='True' name="password_confirm" label="${u'Konfirm Kata Kunci'}" placeholder="${u'Input kata kunci kembali'}" />


      ${baka.ui.tags.submit('register', u'Buat Akun', class_="btn btn-primary") if not readonly else ''}
      ${baka.ui.tags.end_form()}

</%self.widgets:panel>